@media all and (max-height: 1200px){
    .btnABC{
        width: 34px;
        height: 26px;
        padding: 0 !important;
    }
}

@media all and (max-height: 1080px){
    .btnABC{
        width: 32px;
        height: 24px;
        padding: 0 !important;
        font-size: 90% !important;
    }
}

@media all and (max-height: 1024px){
    .btnABC{
        width: 30px;
        height: 22px;
        padding: 0 !important;
        font-size: 90% !important;
    }
}

@media all and (max-height: 768px){
    .btnABC{
        width: 28px;
        height: 20px;
        padding: 0 !important;
        font-size: 80% !important;
    }
}

@media all and (max-width: 480px){
    .dialog{
        width: 320px;
        overflow: auto;   
        max-height: 600px;
    }
}

@media all and (orientation: landscape) and (max-height: 300px) { 
    .dialog{
        width: auto;
        overflow: auto;   
        height: 250px;
    } 
}

@media all and (orientation: landscape) and (min-width: 480px) { 
    .dialog{
        width: auto;
        max-width: 1024px;
        overflow: auto;   
        max-height: 600px;
    } 
}

body{
    background-color:  antiquewhite;
    font-size: smaller;
    margin: 2px;
    height: 100%;
}

.formLayoute{
    font-size: 90% !important;
}

.warning-msg{
    float: right !important;
    text-align: right !important;
    background: yellow !important;
    padding: 5px !important;
}

.qtip{
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
.without-spaces {
    margin: 0 !important;
    padding: 0 !important;
}

.notifBar{
    opacity: 0.9;
    background-color: thistle;
}

.widthMin100{
    width: 100% !important;    
    min-width: 150px !important; 
}

.widthMin95{
    width: 95% !important;    
    min-width: 150px !important; 
}

.widthFix250{
    width: 250px !important;
    max-width: 250px !important;
    min-width: 250px !important; 
}

.error-info {
    color: red !important;    
    background-color: yellow !important;
}

.subProcess{
    font-weight: bold !important;
    font-style: italic !important;
}

.process{
    font-weight: bold !important;    
}

.Draft{
   color: darkcyan !important;
}

.Сompleted{
   color: grey !important;
   font-style: italic !important;
}

.Cancelled{
   text-decoration: line-through !important;
}

.colTblCenter{
    font-size: 80%; 
    word-wrap: break-word;
    white-space: pre-wrap;
    text-align: center;
} 

.colCenter{
  text-align: center !important;  
}

.colRight{
    text-align: center !important;
    width: 7%;
}
.colTop{
    vertical-align: top !important;
}

.ui-outputlabel{ 
    text-align: left;
    vertical-align: central;
    font-weight: bold;
    width: 100%;
}

.ui-dialog-content > .ui-icon {
    background-image: url('../resources/icon/importance-16.png') !important;
}

.bt_action{
        width: 100% !important;
        max-width: 600px !important;
        min-width: 140px !important;
}

.btnClear{
    font-size: 90%;
}

.droppoint{
    
}

.hoverClass{
    font-weight: bold;
    background-color: aquamarine;
}

.col10r{
        width:5% !important; 
        text-align: right !important;
}
.col40r{
        width:40% !important; 
        text-align: right !important;
}

.colAuto{width:auto !important; float: left !important;}
.col100{width:100% !important; float: left !important;}
.col15{
        width:15% !important; 
        min-width: 110px !important;
        float: left !important;
}
.col20{width:20% !important;}
.col30{width:30% !important; float: left !important;}
.col40{width:40% !important; float: left !important;}
.col50{width:50% !important; float: left !important;}
.col60{
        width:60% !important; 
        min-width: 320px !important;
        float: left !important;}
.col70{width:70% !important; float: left !important;}
.col80{width:80% !important; float: left !important;}
.col90{width:90% !important; float: left !important;}
.colFix300{width: 300px !important;}

.top-alignment {
    vertical-align: top;
    text-align: right;
    font-weight: bold;
}

.right-aligment {
    text-align: right !important;
}

.panelLogin{
    margin: auto;
    margin-top: 60px !important;
    max-width: 700px;
    min-width: 600px;
}

.center-alignment {
    vertical-align: central;
    text-align: center;
}

.ui-messages-error ui-corner-all{
    margin: 5px !important;
}
.ui-panelgrid-content {
    border: none !important;
}
.col-padding{
    padding-left: 0px !important;
    padding-bottom: 2px !important;
    padding-top: 2px !important;
    padding-right: 0px !important;
}

.col-grid-expl{
    padding-left: 1.5px !important;
    padding-bottom: 0.5px !important;
    padding-top: 0.5px !important;
    padding-right: 1.5px !important;
}

.ui-outputlabel-rfi{
    color: red !important;
}

.label-card{
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 2px !important;
    padding-right: 0px !important;
}
.pull-right{
  float: right !important;
}
.pull-left{
  float: left !important;
}

.ui-panelgrid>*>tr,
.ui-panelgrid .ui-panelgrid-cell {
    border: none! important;
} 

.ui-menu{width: auto !important;}
.ui-menuitem-text{
    float: none !important;
    white-space: nowrap !important;
    display: list-item !important;
    margin-right: 2em !important;
    word-wrap: normal !important;
    word-break: normal !important;  
    text-wrap: normal !important;
}
.submenu .ui-menuitem-link > .ui-icon-triangle-1-s{
  display: none !important;
}

.value{
    text-align: left;  
    font-size: small;
    word-wrap: normal;
    word-break: normal; 
    text-wrap: normal;
    width: auto;
    float: left;
    font-weight: normal;
  }

.title{
  font-weight:bold ;  
  font-size: 160%;
}

.label_small{
    font-size:x-small !important;
    font-weight:normal !important;
}

.calendar{
  width:150px !important;
}

