# Unoconv listener service

# Install to /etc/init/ folder and start with "sudo service unoconv start"
# This will start a unoconv listener and restart it if it dies. The listener
# will run as the apache user "www-data" and have access to the same files/folders
# as that user.
# The home folder for this listener will point to /tmp/ and any temporary files used by
# libreoffice will be created there.

[Unit]
Description=Unoconv Apache Listener
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User=wildfly
Group=wildfly
Environment="UNO_PATH=/usr/lib/libreoffice/program"
Environment="HOME=/tmp"
ExecStart=/usr/bin/unoconv --listener
Restart=on-failure

[Install]
WantedBy=multi-user.target
