<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>LdapServer</param-name>
        <param-value>ldap://192.168.0.100:389</param-value>
    </context-param>
    <context-param>
        <param-name>DefSenderEmail</param-name>
        <param-value>test@test.ru</param-value>
    </context-param>
    <context-param>
        <param-name>FilesUploadPath</param-name>
        <param-value>c:\\share\\</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>#{sessionBean.primefacesTheme} </param-value>
    </context-param>
    <context-param>
        <param-name>Encoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>
    <context-param>
        <param-name>sessionExpiredRedirect</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>Locale</param-name>
        <param-value>ru</param-value>
    </context-param>
    <context-param>
        <param-name>Version</param-name>
        <param-value>1.01</param-value>
    </context-param>
    <context-param>
        <param-name>Release</param-name>
        <param-value>1</param-value>
    </context-param>
    <context-param>
        <param-name>LicenceNumber</param-name>
        <param-value>322-444-555-44.01</param-value>
    </context-param>
    <context-param>
        <param-name>LastUpdate</param-name>
        <param-value>1481787960000</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <filter>
        <filter-name>rrr</filter-name>
        <filter-class>com.maxfill.escom.system.RedirectFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>rrr</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <listener>
        <listener-class>com.maxfill.escom.system.SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/faces/view/index.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/faces/view/errors/expire.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>javax.ejb.EJBException</exception-type>
        <location>/faces/view/errors/505.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>org.primefaces.expression.ComponentNotFoundException</exception-type>
        <location>/faces/view/errors/505.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/faces/view/errors/505.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/faces/view/errors/404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/faces/view/errors/505.xhtml</location>
    </error-page>
    <security-role>
        <description/>
        <role-name>ESCOM_GROUP</role-name>
    </security-role>
</web-app>
